# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.npm/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/lock-file
.pnp.*
.pnp.js
.pnp.cjs
.pnp.mjs

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro
.metro-health-check*

# Testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDEs and editors
.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project

# Build and distribution files
dist/
out/
temp/
tmp/
*.tgz
*.tar.gz
*.zip
*.rar
*.7z
*.exe
*.dmg
*.app
*.apk
*.ipa

# Environment and configuration files
.env
.env.local
.env.*.local
*.config
*.conf
*.ini
*.yml
*.yaml
*.json
*.xml
*.envrc
*.env.sample

# OS-Specific
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/
